.navbar-wrapper {
    background: rgba(0,0,0,0.3);
}

* {
    border-radius: 5px;
    /*border: 1px solid red;*/
    /*font-family: 'Graduate', cursive;*/
    /*text-shadow: .5px .5px silver;*/
}

body,
html {
    width: 100%;
    height: 100%;
}

h1,h2,h3 {
    font-size: 50px;
    font-weight: 900;
    text-shadow: .5px .5px silver;
    font-family: 'Graduate', cursive;
}

body,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Graduate', cursive;
    font-weight: 900;
    font-size: 25px;
}

h3 {
    font-family: 'Graduate', cursive;
    font-weight: 600;
    font-size: 25px;
    color: white;
}

.panel {
    background-color:rgba(0,0,0,0.4);
}

.navbar {
   background-color:rgba(0,0,0,0.6);
}

.navbar-default .navbar-brand {
    color: #c0392b; 
    font-family: 'Graduate', cursive;
    font-size: 27px;
    font-style: bold;
}

.lead {
    font-size: 18px;
    font-weight: 400;

}
.row .home-button {
    margin-bottom: 40px;
}

div.titles {
    color: white;
    text-shadow: -3px 0 #c0392b, 0 3px #c0392b, 3px 0 #c0392b, 0 -3px #c0392b;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #777;
    text-shadow: 0 0 2px #d35400;

}
.form-control {
    background-color: white;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
    text-align: center;
}

h2.head {
    color: #7f8c8d;
    text-shadow: 1 1 2px white;

}
h1.roadtripstats {
    color: white;
    text-shadow: -3px 0 #c0392b, 0 3px #c0392b, 3px 0 #c0392b, 0 -3px #c0392b;
}

div.carCtrl {
    background-color:rgba(0,0,0,0.3);
    border-radius: 5px;
    margin: 2px;
    color: #c0392b;
    font-family: 'Graduate', cursive;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
    color: #c0392b;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.angular-google-map-container { 
    height: 400px; 
}

a.btn.btn-primary.btn-lg.btn-responsive {
    background-color: blue;
    border-color: #c0392b;
    color: white;
    text-shadow: none;
}

.stats {
    background-color:rgba(0,0,0,0.5);
    border: 2px solid rgba(41,128,185, .5);
    margin-left: 10px;
    padding-left: 5px;
    overflow: auto;
}

/* media */
  
@media (max-width: 768px) {
  .btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    border-radius:3px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
}



@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;

}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;

}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.9);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

video#bgvid{
      position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.home-button {
    text-align: center;
}


