              <div class="row" ng-controller="MainCtrl">
              <div>
              <div class="input-group">
              <div class="container">
              <form name="tripForm" ng-submit="addressSend()">
                <input name="start" type="text" class="form-control" ng-model="startAddress" placeholder="Start your Roadtrip Here!">
                <br />
                
                <input name="end" type="text" class="form-control" ng-model="endAddress" placeholder="Enter Destination">
                <br />
                <button class="btn btn-default">Submit</button>
              </form>
              <br />
              <br />
              
            </form>
            <!-- form to style -->
            </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
          </div>
          </div><!-- /.row -->
        </div>