<br />


<!-- <div ng-app="mapComponent"> -->
<div class="container">
 <div class="row">
    <map type="roadmap" ></map>
    </div>
    </div>



    <!-- <div class="col-md-6 nothing">
    <div id="directionsList"></div>
    </div> -->
<!-- </div> -->





<style type="text/css">

body {
  background-image: url('http://shields.aaroads.com/blog/photos/DSC_062566A.jpg') ;
  background-position: center center;
  }
#theMap {
  position: relative;
    width: 100%;
    padding-bottom: 56.25%;
   position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;

}

.col-md-6.nothing{
  background-color: white;
}

.mapContainer {
  position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
img {
    max-width: none;
}
#wrongAddress {
    display:none;
}

input {
  width: 100%;
}

</style>
